*{
    margin:0;
    padding:0;
  }
  body{
    font-family:arial,sans-serif;
    font-size:100%;
    margin:3em;
    background: rgb(240,239,235);
    color:#000;
  }
  h1,p{
    font-family:"Reenie Beanie", arial, sans-serif;
    font-size:4em ;
  }
 
  /* This is the container */
  .container ul{ 
    display: grid;	  	  
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(6, 250px);
    grid-gap: 1rem; 
    grid-auto-flow: dense;
  }
  .container > li {
    border: 1px solid #E2E2E2;
    border-radius: .5rem;
  }

  /* Every item in the container */
  .container ul .sticker{
    color:#000;    
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.4);
    padding:1em;
    display:block;
  }

  .container ul .blue{
    background: rgb(188,212,230);
    grid-column: span 2;
    grid-row: span 1;
  }

  .container ul .pink{
    background:rgb(250,210,225);
    grid-column: span 1;
    grid-row: span 1;
  }

  .container ul .green{
    background:rgb(197,222,221);
    grid-column: span 1;
    grid-row: span 1;
  }
  .container ul .yellow{
    background:rgb(237,220,210);
    grid-column: span 1;
    grid-row: span 2;
  }

  .container ul li h2{
    font-family:"Montserrat";
    font-size:22px;
    font-weight:bold;
    padding-bottom:10px;
  }
  .container ul li p{
    font-family:"Montserrat-light";
    font-size:20px;
  }

  /* Effects */
  .container ul .sticker:hover{
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
  }
  /* fonts */
@font-face {
  font-family: 'Reenie Beanie';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/reeniebeanie/v11/z7NSdR76eDkaJKZJFkkjuvWxXPq1qw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}